@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-surface: oklch(13.572% 0.01153 274.62);
  --color-surface-50: oklch(77.856% 0.04459 276.68);
  --color-surface-100: oklch(74.151% 0.05252 276.41);
  --color-surface-200: oklch(66.566% 0.06938 274.86);
  --color-surface-300: oklch(58.669% 0.08695 274.9);
  --color-surface-400: oklch(51.387% 0.09769 274.04);
  --color-surface-500: oklch(45.018% 0.08443 274.12);
  --color-surface-600: oklch(38.784% 0.07047 274.28);
  --color-surface-700: oklch(32.229% 0.05409 274.36);
  --color-surface-800: oklch(25.039% 0.04029 274.89);
  --color-surface-900: oklch(16.401% 0.00651 271);
  --color-surface-950: oklch(13.572% 0.01153 274.62);

  --color-fg: oklch(90.879% 0.02985 289.97);
  --color-fg-50: oklch(100% 0 none);
  --color-fg-100: oklch(98.268% 0.00264 286.35);
  --color-fg-200: oklch(90.879% 0.02985 289.97);
  --color-fg-300: oklch(79.03% 0.07053 288.34);
  --color-fg-400: oklch(67.097% 0.11407 287.01);
  --color-fg-500: oklch(55.131% 0.15898 283.72);
  --color-fg-600: oklch(44.61% 0.18329 280.03);
  --color-fg-700: oklch(37.259% 0.14808 280.79);
  --color-fg-800: oklch(29.453% 0.11075 281.33);
  --color-fg-900: oklch(21.229% 0.06952 283.66);
  --color-fg-950: oklch(16.757% 0.04658 284.11);
}
