---
const { text } = Astro.props as { text: string };
---

<div
  class="fixed top-[-2.8rem] sm:top-[-8.4rem]
  left-[-0.3rem] sm:left-[-1.2rem]
  pointer-events-none select-none z-0"
  aria-hidden="true"
  role="presentation"
>
  <h1
    class="font-bold text-fg-100 dark:text-gray-900/30 text-[7rem] sm:text-[20rem]"
  >
    {text}
  </h1>
</div>
