---
import type { CollectionEntry } from "astro:content";
import { getReadingTime } from "../scripts/reading_time";
interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const readingTime = getReadingTime(post.body);
const pubDateFmt = new Date(post.data.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a href={"/blog/" + post.id} class="sm:text-lg">
  <div class="link">{post.data.title}</div>
  <div class="text-xs text-gray-400">{pubDateFmt} • {readingTime}</div>
</a>
