---
const { name, link , label } = Astro.props as { name: string, link: string, label: string };
---


<div>
        <span class="text-md sm:text-xl">{name}</span>
        <a class="text-sm sm:text-md underline" href={link}>{label}</a>
</div>
