---
import EmailSVG from "../assets/email.svg";

interface Props {
  class?: string;
  size?: string;
}

const { class: className = "", size = "w-6 h-6" } = Astro.props;
---

<span class={`inline-block ${className} ${size}`}>
  <EmailSVG class={`fill-black dark:fill-white ${size}`} />
</span>
