---
import { Image } from "astro:assets";
import InBugBlack from "../assets/in-bug-black.png";
import InBugWhite from "../assets/in-bug-white.png";
import LIInBug from "../assets/li-in-bug.png";

interface Props {
  class?: string;
  size?: string;
  blue?: boolean;
}

const { class: className = "", size = "w-6 h-6", blue = false } = Astro.props;
---

<span class={`inline-block ${className}`}>
  <Image
    class={`block dark:hidden ${size}`}
    src={blue ? LIInBug : InBugBlack}
    alt="linkedIn logo black"
  />
  <Image
    class={`hidden dark:block ${size}`}
    src={blue ? LIInBug : InBugWhite}
    alt="linkedIn logo white"
  />
</span>
