<nav class="flex items-baseline gap-4 mb-8 mt-8">
        <h1 class="text-5xl font-semibold btn-theme-toggle">Chaitanya Sharma</h1>
        <a class="underline text-xl" href="/">Home</a>
        <a class="underline text-xl" href="/about">About</a>
        <!-- <a class="underline text-xl" href="/blog">Blog</a> -->
</nav>
<script src="../scripts/theme_toggle.ts"></script>
