<nav class="flex flex-col sm:flex-row items-baseline gap-4 mb-12 sm:mb-12">
        <h1 class="btn-theme-toggle font-semibold text-4xl sm:text-5xl">Chaitanya Sharma</h1>
        <div class="flex flex-row gap-2">
                <a class="p-1 underline text-sm sm:text-xl hover:decoration-2 underline-offset-4" href="/">Home</a>
                <a class="p-1 underline text-sm sm:text-xl hover:decoration-2 underline-offset-4"
                        href="/about">About</a>
                <a class="p-1 underline text-sm sm:text-xl hover:decoration-2 underline-offset-4" href="/blog">Blog</a>
        </div>
</nav>
<script src="../scripts/theme_toggle.ts"></script>
