<nav class="flex flex-col sm:flex-row items-baseline gap-4">
        <h1 class="btn-theme-toggle font-semibold text-4xl sm:text-5xl mb-12 sm:mb-8">Chaitanya Sharma</h1>
        <div class="flex flex-row gap-2">
                <a class="underline text-sm sm:text-xl" href="/">Home</a>
                <a class="underline text-sm sm:text-xl" href="/about">About</a>
                <a class="underline text-sm sm:text-xl" href="/blog">Blog</a>
        </div>
</nav>
<script src="../scripts/theme_toggle.ts"></script>
