---

---

<div
  class="py-8
    prose dark:prose-invert
    prose-h1:font-bold prose-h1:text-xl
    prose-a:font-normal prose-a:underline-offset-4
    prose-p:text-justify
    prose-img:rounded-xl
    prose-headings:underline
    dark:text-fg-200 text-lg leading-relaxed"
>
  <slot />
</div>
