---

---

<div
  class="py-8
    prose dark:prose-invert
    prose-h1:font-bold prose-h1:text-lg sm:prose-h1:text-xl
    prose-h2:font-semibold prose-h2:text-lg sm:prose-h2:text-xl
    prose-a:font-normal prose-a:underline-offset-4
    prose-p:text-justify
    text-base sm:text-lg
    prose-img:rounded-xl
    prose-headings:underline
    dark:text-fg-200
    leading-relaxed"
>
  <slot />
</div>
