{{ define "experiences" }}
<div>
  <h2 class="text-2xl text-vulcan-200 pt-4 pb-4">Experiences</h2>
  {{ range . }}
  <div class="mb-4">
    <div class="flex">
      <span class="font-bold">
        {{ template "checkable" dict "Section" "experience" "Item" .Entity }}
      </span>
      <span class="text-gray-200">
        ({{ .Start }} - {{ .End }}): {{ .Role }}
      </span>
    </div>
    <div class="pl-8">
      <div class="text-gray-200 italic">{{ join .Technologies ", " }}</div>
      <div class="pl-4 mt-2">
        {{ range .Details }} {{ template "checkable" dict "Section" "experience"
        "Item" . }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
