---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout header="ABOUT" title="About">
        <Nav />
        <div class="text-justify text-lg pl-8">
                <p>
                        I’m Chaitanya, a software engineer currently based in Mumbai, India. I work across the stack,
                        with a strong focus on backend systems in Go, Python, and TypeScript, and experience building
                        mobile apps in Flutter.
                </p>
                <br>
                <p>
                        I enjoy designing systems that are elegant in structure yet practical in delivery. Code that
                        evolves and adapts to changing requirements quickly.
                </p>
                <br>
                I believe:
                <ul class="list-disc pl-8">
                        <li>in building reliable, observable, and maintainable systems from the ground up;</li>
                        <li>in the Unix philosophy, especially “Do one thing well”;</li>
                        <li>that programs should be written for humans to understand first, and machines to run second;
                        </li>
                        <li>that learning never stops, and neither should curiosity.</li>
                </ul>
                <br>
                <p>
                        I’m always tinkering with work, personal and open source projects, experimenting with new tools,
                        or digging deep into performance tuning.
                </p>
        </div>
</Layout>
