---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout header="HOME" title="Home">
        <Nav />
        <img src="/gifs/programming-fire.gif" alt="Programming GIF"
                class="rounded-2xl mb-16 dark:border dark:border-gray-800" />
        <div class="flex flex-col gap-2">
                <div>
                        <span class="text-md sm:text-xl">GitHub</span>
                        <a class="text-sm sm:text-md underline"
                                href="https://github.com/Chaitanyabsprip">Chaitanyabsprip</a>
                </div>
                <div>
                        <span class="text-md sm:text-xl">LinkedIn</span>
                        <a class="text-sm sm:text-md underline"
                                href="https://www.linkedin.com/in/chaitanyabsprip">Chaitanya Sharma</a>
                </div>
                <div>
                        <span class="text-md sm:text-xl">Email</span>
                        <a class="text-sm sm:text-md underline" href="mailto:hello@chaitanyas.dev">Chaitanya Sharma</a>
                </div>
        </div>
</Layout>
