---
import { Image } from 'astro:assets';
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import heroGIF from '../assets/futuristic-city.gif';
---

<Layout header="HOME" title="Home">
        <Nav />
        <Image src={heroGIF} alt="Futuristic City GIF"
                class="rounded-2xl mb-16 dark:border dark:border-gray-800 bg-gray-100 dark:bg-gray-950" />
        <div class="flex flex-col gap-2">
                <Contact name="GitHub" label="Chaitanyabsprip" link="https://github.com/Chaitanyabsprip" />
                <Contact name="LinkedIn" label="Chaitanya Sharma" link="https://www.linkedin.com/in/chaitanyabsprip" />
                <Contact name="Email" label="Chaitanya Sharma" link="mailto:hello@chaitanyas.dev" />
        </div>
</Layout>
