---
import { Image } from "astro:assets";
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import heroGIF from "../assets/futuristic-city.gif";
import LinkedInIcon from "../components/LinkedInIcon.astro";
import GitHubIcon from "../components/GitHubIcon.astro";
import EmailIcon from "../components/EmailIcon.astro";
---

<Layout header="HOME" title="Home" nameInTitle>
  <Nav />
  <Image
    src={heroGIF}
    alt="Futuristic City GIF"
    class="rounded-2xl mb-16 dark:border dark:border-gray-800 bg-gray-100 dark:bg-gray-950"
  />
  <div class="flex flex-col gap-2">
    <Contact label="Chaitanyabsprip" link="https://github.com/Chaitanyabsprip"
      ><GitHubIcon size="w-5 h-5" />
    </Contact>
    <Contact
      label="@chaitanyabsprip"
      link="https://www.linkedin.com/in/chaitanyabsprip"
      ><LinkedInIcon size="w-5 h-5" />
    </Contact>
    <Contact label="hello@chaitanyas.dev" link="mailto:hello@chaitanyas.dev"
      ><EmailIcon size="w-5 h-5" />
    </Contact>
  </div>
</Layout>
