---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout header="HOME" title="Home">
        <Nav />
        <img src="/gifs/programming-fire.gif" alt="Programming GIF"
                class="rounded-2xl mb-16 dark:border dark:border-gray-800" />
        <div class="mb-2">
                <span class="text-xl">GitHub</span>
                <a class="underline" href="https://github.com/Chaitanyabsprip">Chaitanyabsprip</a>
        </div>
        <div>
                <span class="text-xl">LinkedIn</span>
                <a class="underline" href="https://www.linkedin.com/in/chaitanyabsprip">Chaitanya Sharma</a>
        </div>
        <div>
                <span class="text-xl">Email</span>
                <a class="underline" href="mailto:hello@chaitanyas.dev">Chaitanya Sharma</a>
        </div>
</Layout>
