{{ define "root" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume builder</title>
    <link href="static/css/main.css" rel="stylesheet" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-surface">
    <header>
      <div class="container mx-auto mt-16 pb-4 pl-4 max-w-5xl">
        <h1 class="text-3xl text-vulcan-100 font-bold htmx">Resume Builder</h1>
      </div>
    </header>
    <main>
      <div class="grid grid-cols-1 gap-6">
        <div class="mx-auto w-full max-w-5xl bg-surface-1 p-8 rounded-t-xl">
          <form hx-post="/generate-pdf" hx-swap="none">
            <noop>{{ template "contact" .Contact }}</noop>
            <noop>{{ template "skills" .Skills }}</noop>
            <noop>{{ template "experiences" .Experiences }}</noop>
            <noop>{{ template "projects" .Projects }}</noop>
            <noop>{{ template "educations" .Education }}</noop>
            <div class="flex justify-end mt-8">
              <button
                type="submit"
                value="Bulk Update"
                class="bg-vulcan-100 text-white px-4 py-2 rounded hover:bg-vulcan-200 transition-colors"
              >
                Save Resume
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}
